export LAIVAN_ENV=development
export LAIVAN_PORT=4000
export LAIVAN_DB_URL=postgres://laivan:laivan@localhost:5433/laivan?sslmode=disable
export LAIVAN_TEST_DB_URL=postgres://laivan:laivan@localhost:5433/laivan_test?sslmode=disable
export LAIVAN_ALLOWED_ORIGINS=http://localhost:3000
